.DS_Store
node_modules
/dist




# arquivos com variáveis de ambiente
.env.local
.env.*.local


# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Diretórios e arquivos do Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.bat
.DS_Store
node_modules
/dist




# arquivos com variáveis de ambiente
.env.local
.env.*.local


# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Diretórios e arquivos do Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.bat

